<div class="container-fluid">
    <nav class="col navbar no-gutter">
        <div class="navbar-header">
            <div class="row">
                <div class="col" *ngFor="let page of pages">
                    <button type="button" class="btn-light mybtn">
                        <a id="button" routerLink="/{{page.path}}" routerLinkActive="active" class="navbar-brand col">{{page.name}}</a>                    
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>